/* Add your own CSS if you like */
.button {
    width: 150px;
    border-radius: 5px;
    font-weight: bold;
}

.button.button-positive {
    border:1px solid #25729a;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size:16px;
    font-family:arial, helvetica, sans-serif;
    padding: 10px 10px 10px 10px;
    text-decoration:none;
    display:inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight:bold;
    color: #FFFFFF;
    background-color: #3093c7; background-image: -webkit-gradient(linear, left top, left bottom, from(#f62b2b), to(#d20202));
    background-image: -webkit-linear-gradient(top, #f62b2b, #d20202);
    background-image: -moz-linear-gradient(top, #f62b2b, #d20202);
    background-image: -ms-linear-gradient(top, #f62b2b, #d20202);
    background-image: -o-linear-gradient(top, #f62b2b, #d20202);
    background-image: linear-gradient(to bottom, #f62b2b, #d20202);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);
}

/* home screen */
.home-content {
    background: url(/img/splash-background.png) no-repeat;
    background-size: cover;
}

.home-content > .scroll {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.home-content h1 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    border-style: inset;
    border-width: medium;
}

.home-content .row-logo {
    flex-grow: 1;
}

.home-content .row-buttons {
    flex-grow: 0;
}

.home-content .button:last-child {
    margin-bottom: 0;
}
