<ion-view title="Las Palomas Cristal 202">
  <ion-content class="has-header padding">
    <h1>One Bedroom - One Bath</h1>
    
    <div class="img-view">
    <center><img src="/img/Cristal-202/E202-Better-View.jpg"></center>
    <center><p> Rocky Point Ocean View </p></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Cristal-202/E202-Patio-2015-04-21-16.10.10.jpg"></center>
    <center><p> Patio </p></center>
    </div>

    <div class="img-view">
    <center><img src="/img/Cristal-202/E202-BR-2015-04-21-16.23.08.jpg"></center>
    <center><p> Bedroom </p></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Cristal-202/E202-Kitchen.jpg"></center>
    <center><p> Kitchen </p></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Cristal-202/E202-Dining.jpg"></center>
    <center><p> Dining Room </p></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Cristal-202/E202-Bath.jpg"></center>
    <center><p> Bathroom </p></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Cristal-202/E202-Bath1.jpg"></center>
    <center><p> Bathroom </p></center>
    </div>
    
  </ion-content>
 
      <div class="bar bar-footer footer">

      <a style="min-width: 33%; border-radius: 0px" class="button icon-top ion-iphone" href="tel:4806862280" title="Call"><br>Call</br></a>
      <a style="min-width: 33%; border-radius: 0px" class="button icon-top ion-person" ng-href="#/form" title="Form">Form</a>
      <a style="min-width: 33%; border-radius: 0px" class="button icon-top ion-calendar" title="Calendar">Calendar</a>

      </div>
  
</ion-view>
