<ion-view title="Las Palomas Cristal 202">
  <ion-content class="has-header padding">
    <h1>One Bedroom - One Bath</h1>
    <div class="cycle-slideshow cycle-autoinit" 
    data-cycle-fx="scrollHorz"
    data-cycle-speed="3000"
    data-cycle-timeout="1"
    data-cycle-easing="linear"
    >
    <img src="http://malsup.github.io/images/p1.jpg">
    <img src="http://malsup.github.io/images/p2.jpg">
    <img src="http://malsup.github.io/images/p3.jpg">
    <img src="http://malsup.github.io/images/p4.jpg">
  </div>
  </ion-content>
</ion-view>
