<ion-view title="Las Palomas Cristal 202">
  <ion-content class="has-header padding">
    <h3>One Bedroom - One Bath</h3>
    
    <div class="img-view padding">
    <center><img src="http://www.rentalsinrockypoint.com/images/e202/thumbs/E202-View-2015-04-21-16.10.29.jpg"></center>
    <center><h4> Rocky Point Ocean View </h4></center>
    </div>
    
    <div class="img-view padding">
    <center><img src="http://www.rentalsinrockypoint.com/images/e202/thumbs/E202-Patio-2015-04-21-16.10.10.jpg"></center>
    <center><h4> Patio </h4></center>
    </div>

    <div class="img-view padding">
    <center><img src="http://www.rentalsinrockypoint.com/images/e202/thumbs/E202-BR-2015-04-21-16.23.08.jpg"></center>
    <center><h4> Bedroom </h4></center>
    </div>
    
    <div class="img-view padding">
    <center><img src="http://www.rentalsinrockypoint.com/images/e202/thumbs/E202-Kitchen.jpg"></center>
    <center><h4> Kitchen </h4></center>
    </div>

    <div class="img-view padding">
    <center><img src="http://www.rentalsinrockypoint.com/images/e202/thumbs/E202-Better-View.jpg"></center>
    <center><h4> Puerto Penasco Pools </h4></center>
    </div>
    
    <div class="img-view padding">
    <center><img src="http://www.rentalsinrockypoint.com/images/e202/thumbs/E202-Dining.jpg"></center>
    <center><h4> Dining Area </h4></center>
    </div>
    
    <div class="img-view padding">
    <center><img src="http://www.rentalsinrockypoint.com/images/e202/thumbs/E202-Bath.jpg"></center>
    <center><h4> Bathroom </h4></center>
    </div>
    
    <div class="img-view padding">
    <center><img src="http://www.rentalsinrockypoint.com/images/e202/thumbs/E202-Bath1.jpg"></center>
    <center><h4> Bathroom </h4></center>
    </div>
	  <br/>
   
	<div class="padding">
		<center><h3> Availability </h3></center>
	</div>
	  
     <center><img src="http://www.rentalsinrockypoint.com/images/key.png" width="80%" class="center" alt="Cristal 202 Availability Calendar"></center>
     <center><img class="article_two1_img" alt="Cristal 202 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/e202-calendar-1.png" />
	<img class="article_two1_img" alt="Cristal 202 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/e202-calendar-2.png" />
	<img class="article_two1_img" alt="Cristal 202 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/e202-calendar-3.png" />
	<img class="article_two1_img" alt="Cristal 202 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/e202-calendar-4.png" /></center>
  <br/>
	  
  </ion-content>
 
      <div class="bar bar-footer footer">

      <a style="min-width: 33%; border-radius: 2px; font-size: 32px" class="button" href="tel:4806862280" title="Call">Call</a>
      <a style="min-width: 33%; border-radius: 0px" class="button" ng-href="#/form" title="Form">I Want Condo</a>
      <a style="min-width: 33%; border-radius: 0px" class="button" ng-href="#/C1" title="Calendar">Calendar</a>

      </div>
  
</ion-view>
