<ion-view title="Las Palomas Cristal 302">
  <ion-content class="has-header padding">
    <h3>One Bedroom - One Bath</h3>
    
    <div class="img-view">
    <center><img src="http://www.rentalsinrockypoint.com/images/e302/thumbs/ry=400-16.jpg"></center>
    <center><h4> Las Palomas - Ocean Views </h4></center>
    </div>
	  
<div class="img-view">
    <center><img src="http://www.rentalsinrockypoint.com/images/e302/thumbs/patio-small.jpg"></center>
    <center><h4> Patio Views of Rocky Point </h4></center>
    </div>
	      <div class="img-view">
    <center><img src="http://www.rentalsinrockypoint.com/images/e302/thumbs/ry=400-5.jpg"></center>
    <center><h4> Bathroom </h4></center>
    </div>
      
    <div class="img-view">
    <center><img src="http://www.rentalsinrockypoint.com/images/e302/thumbs/dining-room-small.jpg"></center>
    <center><h4> Dining Room </h4></center>
    </div>
      
    <div class="img-view">
    <center><img src="http://www.rentalsinrockypoint.com/images/e302/thumbs/Las-Palomas-Rental-Condo-302.jpg"></center>
    <center><h4> The Bedroom </h4></center>
    </div>
    
    <div class="img-view">
    <center><img src="http://www.rentalsinrockypoint.com/images/e302/thumbs/ry=400-4.jpg"></center>
    <center><h4> Close-up on the Bed! </h4></center>
    </div>
      
    <div class="img-view">
    <center><img src="http://www.rentalsinrockypoint.com/images/e302/thumbs/small-kitchen-rocky-point-condo-rental.jpg"></center>
    <center><h4> The Kitchen! </h4></center>
    </div>
    
    <div class="img-view">
    <center><img src="http://www.rentalsinrockypoint.com/images/e302/thumbs/small-rentals-in-rocky-point-302.jpg"></center>
    <center><h4> The Living Room </h4></center>
    </div>
	  <br/>
	  <center>
    	  <div class="padding">
		  <h3> Availability </h3>
	  </div>
	  </center>
	  
      <center> <img src="http://www.rentalsinrockypoint.com/images/key.png" width="80%" class="center" alt="Cristal 302 Availability Calendar">
       <img class="article_two1_img" alt="Cristal 302 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/e302-calendar-1.png" />
       <img class="article_two1_img" alt="Cristal 302 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/e302-calendar-2.png" />
       <img class="article_two1_img" alt="Cristal 302 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/e302-calendar-3.png" />
       <img class="article_two1_img" alt="Cristal 302 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/e302-calendar-4.png" />
      </center>
	  <br/>
    

	  
  </ion-content>
  
      <div class="bar bar-footer footer">

      <a style="min-width: 33%; border-radius: 1px; font-size: 32px" class="button" href="tel:4806862280" title="Call">Call</a>
      <a style="min-width: 33%; border-radius: 0px" class="button" ng-href="#/form" title="Rent">I Want Condo</a>
      <a style="min-width: 33%; border-radius: 0px" class="button" ng-href="#/C2" title="Calendar">Calendar</a>

      </div>
    
</ion-view>
