<ion-view title="Las Palomas Diamante 906">
  <ion-content class="has-header has-tabs padding">
    <h1>One Bedroom - One Bath</h1>
    
    <div class="img-view">
    <center><img src="/img/Diamante 906/Balcony.jpg"></center>
    <center><p> Balcony </p></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Diamante 906/Bedroom.jpg"></center>
    <center><p> Bedroom </p></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Diamante 906/Dining/center>
    <center><p> Dinig Room </p></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Diamante 906/Living.jpg"></center>
    <center><p> Living Room </p></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Diamante 906/Outside.jpg"></center>
    <center><p> Rocky Point Ocean View </p></center>
    </div>
      
  </ion-content>
    
      <ion-footer-bar class="bar-stable">
      <ion-tabs class="tabs-icon-top">
      <ion-tab icon="ion-telephone" title="Call"></ion-tab>
      <ion-tab icon="ion-person" title="Form"> 
      <button ng-href="#/form" class="button"></button>
      </ion-tab>
      <ion-tab icon="ion-calendar" title="Calendar"></ion-tab>
      </ion-footer-bar>
  </ion-tabs>
      
</ion-view>
