<ion-view title="Las Palomas Diamante 906">
  <ion-content class="has-header has-tabs padding">
    <h1>One Bedroom - One Bath</h1>
    
    <div class="img-view">
    <center><img src="/img/Diamante 906/Balcony.jpg"></center>
    <center><p> Balcony </p></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Diamante 906/Bedroom.jpg"></center>
    <center><p> Bedroom </p></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Diamante 906/Dining/center>
    <center><p> Dinig Room </p></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Diamante 906/Living.jpg"></center>
    <center><p> Living Room </p></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Diamante 906/Outside.jpg"></center>
    <center><p> Rocky Point Ocean View </p></center>
    </div>
      
  </ion-content>
    
      <div class="button-bar footer">
      <ion-tabs class="tabs-icon-top">
      <ion-tab icon="ion-iphone" title="Call">
      <a href="tel:4806862280"></a>
      </ion-tab>
      <ion-tab icon="ion-person" title="Form">
      <button ng-href="#/form"></button>
      <ion-nav-view></ion-nav-view>
      </ion-tab>
      <ion-tab icon="ion-calendar" title="Calendar"></ion-tab>
      </ion-tabs>
      </div>
      
</ion-view>
