<ion-view title="Las Palomas Cabrillo 1402">
  <ion-content class="has-header padding">
    <h3>One Bedroom - 1 Bath</h3>
    
   <div class="img-view">  
    <center>
    <img src="/img/Cabrillo 1402/G1402-1.jpg" width="80%" height="100%">
    <h4> Las Palomas Ocean Views </h4>
    </center>
   </div> 
	  
    <center><div class="img-view">
    <img src="http://www.rentalsinrockypoint.com/images/g1402/G1402-2.jpg" width="85%">
    <h4> Living Room </h4>
    </div></center>
	 
    <center><div class="img-view">
    <img src="http://www.rentalsinrockypoint.com/images/g1402/G1402-3.jpg" width="90%">
    <h4> Dining Area </h4>
    </div></center>
	
    <div class="img-view">
    <center>
    <img src="http://www.rentalsinrockypoint.com/images/g1402/G1402-4.jpg" width="95">
    <h4> Entertainment Center Kitchen </h4>
    </center>											  
    </div> 
	  
    <center><div class="img-view">
    <img src="http://www.rentalsinrockypoint.com/images/g1402/G1402-5.jpg">
    <h4> Bedroom </h4>
    </div></center>
	  
	  <br/>
	  <center>
    	  <div class="padding">
		  <h3> Availability </h3>
	  </div>
	  </center>
	  
      <center> <img src="http://www.rentalsinrockypoint.com/images/key.png" width="80%" class="center" alt="Cabrillo 1402 Availability Calendar">
       <img class="article_two1_img' alt="Cabrillo 1402 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/g1402-calendar-1.png" />
       <img class="article_two1_img' alt="Cabrillo 1402 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/g1402-calendar-2.png" />
       <img class="article_two1_img' alt="Cabrillo 1402 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/g1402-calendar-3.png" />
       <img class="article_two1_img' alt="Cabrillo 1402 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/g1402-calendar-4.png" />
      </center>
	  <br/>
    

	  
  </ion-content>
  
      <div class="bar bar-footer footer">

      <a style="min-width: 33%; border-radius: 1px; font-size: 32px" class="button" href="tel:4806862280" title="Call">Call</a>
      <a style="min-width: 33%; border-radius: 0px" class="button" ng-href="#/form" title="Rent">I Want Condo</a>
      <a style="min-width: 33%; border-radius: 0px" class="button" ng-href="#/C16" title="Calendar">Calendar</a>

      </div>
    
</ion-view>
