<ion-view title="Las Palomas Diamante 1003">
  <ion-content class="has-header padding">
    <h1>Two Bed - Two Bath</h1>
    
    <div class="img-view">
    <center><img src="/img/Diamante 1003/Balcony.jpg"></center>
    <center><p> Balcony View </p></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Diamante 1003/Patio.jpg"></center>
    <center><p> Patio View </p></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Diamante 1003/Bedroom.jpg"></center>
    <center><p> Bedroom </p></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Diamante 1003/Living.jpg"></center>
    <center><p> Living Room </p></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Diamante 1003/Kitchen.jpg"></center>
    <center><p> Kitchen </p></center>
    </div>
    
  </ion-content>
</ion-view>
