<ion-view title="Las Palomas Diamante 1003">
  <ion-content class="has-header padding">
    <h3>Two Bed - Two Bath</h3>
    
    <div class="img-view">
    <center><img src="http://www.rentalsinrockypoint.com/images/a1003/thumbs/Diamante%201003%20Balcony%20View%20Night.jpg"></center>
    <center><h4> Balcony View </h4></center>
    </div>
    
    <div class="img-view">
    <center><img src="http://www.rentalsinrockypoint.com/images/a1003/thumbs/Diamante%201003%20Patio%20Shot.jpg"></center>
    <center><h4> Patio View </h4></center>
    </div>
    
    <div class="img-view">
    <center><img src="http://www.rentalsinrockypoint.com/images/a1003/thumbs/Diamante%201003%20Master%20Bedroom%202.jpg"></center>
    <center><h4> Master Bedroom (King-Size Bed!) </h4></center>
    </div>
    
    <div class="img-view">
    <center><img src="http://www.rentalsinrockypoint.com/images/a1003/thumbs/Diamante%201003%20Living%20Room.jpg"></center>
    <center><h4> Living Room </h4></center>
    </div>
    
    <div class="img-view">
    <center><img src="http://www.rentalsinrockypoint.com/images/a1003/thumbs/Diamante%201003%20Kitchen.jpg"></center>
    <center><h4> Kitchen </h4></center>
    </div>
    
	  <br/>
	  <div class="padding">
		  <center><h3> Availability </h3></center>
	  </div>	  
	  
       <center><img src="http://www.rentalsinrockypoint.com/images/key.png" width="80%" class="center" alt="Diamante 1003 Availability Calendar">
        <img class="article_two1_img" alt="Diamante 1003 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a1003-calendar-1.png" />
	   <img class="article_two1_img" alt="Diamante 1003 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a1003-calendar-2.png" />
	   <img class="article_two1_img" alt="Diamante 1003 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a1003-calendar-3.png" />
	   <img class="article_two1_img" alt="Diamante 1003 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a1003-calendar-4.png" />
	  </center>
  <br/>
    
  </ion-content>
  
      <div class="bar bar-footer footer">

      <a style="min-width: 33%; border-radius: 0px; font-size: 32px" class="button" href="tel:4806862280" title="Call">Call</a>
      <a style="min-width: 33%; border-radius: 0px" class="button" ng-href="#/form" title="Form">I Want Condo</a>
      <a style="min-width: 33%; border-radius: 0px" class="button" ng-href="#/C4" title="Calendar">Calendar</a>

      </div>
  
</ion-view>
