<ion-view title="Las Palomas Diamante 401">
  <ion-content class="has-header padding">
    <h3>Two Bed - Two Bath</h3>
    
    <div class="img-view">
    <center><img src="/img/Diamante 401/OceanView.jpg"></center>
    <center><h4> Ocean View </h4></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Diamante 401/Patio.jpg"></center>
    <center><h4> Patio View </h4></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Diamante 401/Living.jpg"></center>
    <center><h4> Living Room </h4></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Diamante 401/Kitchen.jpg"></center>
    <center><h4> Kitchen </h4></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Diamante 401/Bedroom.jpg"></center>
    <center><h4> Bedroom </h4></center>
    </div>
    <br/>
	  <div class="padding">
		  <center><h3> Availability </h3></center>
	  </div>
	
	  <center>
       <img src="http://www.rentalsinrockypoint.com/images/key.png" width="80%" class="center" alt="Diamante 401 Availability Calendar">
            <img class="article_two1_img" alt="Diamante 401 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a401-calendar-1.png" />
	   <img class="article_two1_img" alt="Diamante 401 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a401-calendar-2.png" />
	   <img class="article_two1_img" alt="Diamante 401 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a401-calendar-3.png" />
	   <img class="article_two1_img" alt="Diamante 401 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a401-calendar-4.png" />
	  </center>
<br/>
    
  </ion-content>

      <div class="bar bar-footer footer">

      <a style="min-width: 33%; border-radius: 0px; font-size: 32px" class="button" href="tel:4806862280" title="Call">Call</a>
      <a style="min-width: 33%; border-radius: 0px" class="button" ng-href="#/form" title="Form">I Want Condo</a>
      <a style="min-width: 33%; border-radius: 0px" class="button" ng-href="#/C5" title="Calendar">Calendar</a>

      </div>  
  
</ion-view>
