<ion-view title="Las Palomas Diamante 401">
  <ion-content class="has-header padding">
    <h1>Two Bed - Two Bath</h1>
    
    <div class="img-view">
    <center><img src="/img/Diamante 401/OceanView.jpg"></center>
    <center><p> Ocean View </p></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Diamante 401/Patio.jpg"></center>
    <center><p> Patio View </p></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Diamante 401/Living.jpg"></center>
    <center><p> Living Room </p></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Diamante 401/Kitchen.jpg"></center>
    <center><p> Kitchen </p></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Diamante 401/Bedroom.jpg"></center>
    <center><p> Bedroom </p></center>
    </div>
    
    
  </ion-content>
</ion-view>
