<ion-view title="Las Palomas Opalo 403">
  <ion-content class="has-header padding">
    <h1>Two Bed - Two Bath</h1>
    
    <div class="img-view">
    <center><img src="/img/Opalo 403/view.jpg"></center>
    <center><p> Balcony View </p></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Opalo 403/living.jpg"></center>
    <center><p> Living Room </p></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Opalo 403/media.jpg"></center>
    <center><p> Living Room - Media Station </p></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Opalo 403/kitchen.jpg"></center>
    <center><p> Kitchen </p></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Opalo 403/master.jpg"></center>
    <center><p> Master Bed (King Size) </p></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Opalo 403/bunk.jpg"></center>
    <center><p> Bunk Beds </p></center>
    </div>
    
  </ion-content>
  
      <div class="bar bar-footer footer">

      <a style="min-width: 33%; border-radius: 0px" class="button icon-top ion-iphone" href="tel:4806862280" title="Call">Call</a>
      <a style="min-width: 33%; border-radius: 0px" class="button icon-top ion-person" ng-href="#/form" title="Form">Form</a>
      <a style="min-width: 33%; border-radius: 0px" class="button icon-top ion-calendar" title="Calendar">Calendar</a>

      </div>  
  
</ion-view>
