<ion-view title="Las Palomas Opalo 403">
  <ion-content class="has-header padding">
    <h3>Two Bed - Two Bath</h3>
    
    <div class="img-view">
    <center><img src="http://www.rentalsinrockypoint.com/images/d403/thumbs/Opalo403View.jpg"></center>
    <center><h4> Balcony View </h4></center>
    </div>

    <div class="img-view">
    <center><img src="http://www.rentalsinrockypoint.com/images/d403/thumbs/view.jpg"></center>
    <center><h4> View of Pools and Beach </h4></center>
    </div>
    
    <div class="img-view">
    <center><img src="http://www.rentalsinrockypoint.com/images/d403/thumbs/Opalo403Living.jpg"></center>
    <center><h4> Living Room </h4></center>
    </div>
    
    <div class="img-view">
    <center><img src="http://www.rentalsinrockypoint.com/images/d403/thumbs/Opalo403Media.jpg"></center>
    <center><h4> Living Room - Media Station </h4></center>
    </div>
    
    <div class="img-view">
    <center><img src="http://www.rentalsinrockypoint.com/images/d403/thumbs/Opalo403Kitchen.jpg"></center>
    <center><h4> Kitchen </h4></center>
    </div>
    
    <div class="img-view">
    <center><img src="http://www.rentalsinrockypoint.com/images/d403/thumbs/d403-master-king-4.jpg"></center>
    <center><h4> Master Bedroom (King-Size Bed!) </h4></center>
    </div>
    
    <div class="img-view">
    <center><img src="http://www.rentalsinrockypoint.com/images/d403/thumbs/d403-bunk-bed.jpg"></center>
    <center><h4> Bunk Beds </h4></center>
    </div>
    <br/>
	  <div class="padding">
		  <center><h3> Availability </h3></center>
	  </div>
	  
	  <center>
       <img src="http://www.rentalsinrockypoint.com/images/key.png" width="80%" class="center" alt="Opalo 403 Availability Calendar">
      <img class="article_two1_img" alt="Opalo 403 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/d403-calendar-1.png" />
	  <img class="article_two1_img" alt="Opalo 403 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/d403-calendar-2.png" />
	  <img class="article_two1_img" alt="Opalo 403 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/d403-calendar-3.png" />
	  <img class="article_two1_img" alt="Opalo 403 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/d403-calendar-4.png" />
	  </center>
<br/>
    
  </ion-content>
  
      <div class="bar bar-footer footer">

      <a style="min-width: 33%; border-radius: 0px; font-size: 32px" class="button" href="tel:4806862280" title="Call">Call</a>
      <a style="min-width: 33%; border-radius: 0px" class="button" ng-href="#/form" title="Form">I Want Condo</a>
      <a style="min-width: 33%; border-radius: 0px" class="button" ng-href="#/C7" title="Calendar">Calendar</a>

      </div>  
  
</ion-view>
