<ion-view title="Las Palomas Topaz 804">
  <ion-content class="has-header padding">
    <h3>Two Bed - Two Bath</h3>
    
    <div class="img-view">
    <center><img src="/img/Topaz 804/balcony.jpg"></center>
    <center><h4> Balcony View </h4></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Topaz 804/living.jpg"></center>
    <center><h4> Living Room </h4></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Topaz 804/kitchen.jpg"></center>
    <center><h4> Kitchen </h4></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Topaz 804/bedroom.jpg"></center>
    <center><h4> Bedroom 1 - King-Sized Bed! </h4></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Topaz 804/bedroom2.jpg"></center>
    <center><h4> Bedroom 2 - King-Sized Bed! </h4></center>
    </div>
    <br/>
    	  <div class="padding">
		  <center><h3> Availability </h3></center>
	  </div>
	  
	  <center>
   <img src="http://www.rentalsinrockypoint.com/images/key.png" class="center" width="80%" alt="Topaz 804 Availability Calendar">
      <img class="article_two1_img" alt="Topaz 804 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/b804-calendar-1.png" />
      <img class="article_two1_img" alt="Topaz 804 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/b804-calendar-2.png" />
	  <img class="article_two1_img" alt="Topaz 804 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/b804-calendar-3.png" />
	  <img class="article_two1_img" alt="Topaz 804 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/b804-calendar-4.png" />
	  </center>
  	<br/> 
    
  </ion-content>
  
      <div class="bar bar-footer footer">

      <a style="min-width: 33%; border-radius: 0px; font-size: 32px" class="button" href="tel:4806862280" title="Call">Call</a>
      <a style="min-width: 33%; border-radius: 0px" class="button" ng-href="#/form" title="Form">I Want Condo</a>
      <a style="min-width: 33%; border-radius: 0px" class="button" ng-href="#/C9" title="Calendar">Calendar</a>

      </div>
  
</ion-view>
