<ion-view title="Las Palomas Coronado 803">
  <ion-content class="has-header padding">
    <h3>Three Bedroom - Two Bath</h3>
    
    <div class="img-view">
    <center><img src="/img/Coronado 803/kitchen.jpg"></center>
    <center><h4> Kitchen </h4></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Coronado 803/living.jpg"></center>
    <center><h4> Living Room </h4></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Coronado 803/kitchen and dining.jpg"></center>
    <center><h4> Kitchen + Dining Room </h4></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Coronado 803/dining.jpg"></center>
    <center><h4> Dining Room </h4></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Coronado 803/master.jpg"></center>
    <center><h4> Master Bedroom </h4></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Coronado 803/bedroom2.jpg"></center>
    <center><h4> Bedroom 2 </h4></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Coronado 803/bedroom3.jpg"></center>
    <center><h4> Bedroom 3 (Bunk Bed Room!) </h4></center>
    </div>
    <br/>
	  <div class="padding">
		  <center><h3> Availability </h3></center>
	  </div>	  
	  
	  <center>
   <img src="http://www.rentalsinrockypoint.com/images/key.png" class="center" width="80%" alt="Coronado 803 Availability Calendar">
      <img class="article_two1_img" alt="Coronado 803 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/f803-calendar-1.png" />
	  <img class="article_two1_img" alt="Coronado 803 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/f803-calendar-2.png" />
	  <img class="article_two1_img" alt="Coronado 803 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/f803-calendar-3.png" />
	  <img class="article_two1_img" alt="Coronado 803 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/f803-calendar-4.png" />
	  </center>
	  <br/>   
    
  </ion-content>

      <div class="bar bar-footer footer">

      <a style="min-width: 33%; border-radius: 0px; font-size: 32px" class="button" href="tel:4806862280" title="Call">Call</a>
      <a style="min-width: 33%; border-radius: 0px" class="button" ng-href="#/form" title="Form">I Want Condo</a>
      <a style="min-width: 33%; border-radius: 0px" class="button" ng-href="#/C10" title="Calendar">Calendar</a>

      </div>  
</ion-view>
