<ion-view title="Las Palomas Cristal 407">
  <ion-content class="has-header padding">
    <h3>Three Bedroom - Two Bath</h3>
    
    <div class="img-view">
    <center><img src="http://www.rentalsinrockypoint.com/images/e407/thumbs/Cristal%20407%20Balcony%20View.jpg" width="100%"></center>
    <center><h4> Balcony View! </h4></center>
    </div>
	  
    <div class="img-view">
    <center><img src="http://www.rentalsinrockypoint.com/images/e407/thumbs/Cristal%20407%20Patio.jpg"></center>
    <center><h4> Great View From the Patio! </h4></center>
    </div>
	  
    <div class="img-view">
    <center><img src="http://www.rentalsinrockypoint.com/images/e407/thumbs/living-room-view.jpg" width="100%"></center>
    <center><h4> Puerto Penasco Ocean Views! </h4></center>
    </div>
	  
    <div class="img-view">
    <center><img src="http://www.rentalsinrockypoint.com/images/e407/thumbs/Cristal%20407%20Kitchen.jpg"></center>
    <center><h4> Kitchen </h4></center>
    </div>
    
    <div class="img-view">
    <center><img src="http://www.rentalsinrockypoint.com/images/e407/thumbs/Cristal%20407%20Dining%20Area.jpg"></center>
    <center><h4> Dining Area! </h4></center>
    </div>
    
    <div class="img-view">
    <center><img src="http://www.rentalsinrockypoint.com/images/e407/thumbs/Cristal%20407%20Living%20Room.jpg"></center>
    <center><h4> Living Room (Red Leather Sleeper Sofa) </h4></center>
    </div>
    
    <div class="img-view">
    <center><img src="http://www.rentalsinrockypoint.com/images/e407/thumbs/Cristal%20407%20Master.jpg"></center>
    <center><h4> Master Bedroom (King-Sized Bed!) </h4></center>
    </div>
    
    <div class="img-view">
    <center><img src="http://www.rentalsinrockypoint.com/images/e407/thumbs/Cristal%20407%202nd%20Bedroom.jpg"></center>
    <center><h4> Bedroom 2 (King-Sized Bed!) </h4></center>
    </div>
    
    <div class="img-view">
    <center><img src="http://www.rentalsinrockypoint.com/images/e407/thumbs/Cristal%20407%203rd%20Bedroom%20(King%20Size%20Bed).jpg"></center>
    <center><h4> Bedroom 3 (King-Sized Bed!) </h4></center>
    </div>
	<br/>
	  <div class="padding">
		  <center><h3> Availability </h3></center>
	  </div>
	  
	  <center>
   <img src="http://www.rentalsinrockypoint.com/images/key.png" class="center" width="80%" alt="Cristal 407 Availability Calendar">
      <img class="article_two1_img" alt="Cristal 407 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/e407-calendar-1.png" />
	  <img class="article_two1_img" alt="Cristal 407 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/e407-calendar-2.png" />
	  <img class="article_two1_img" alt="Cristal 407 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/e407-calendar-3.png" />
	  <img class="article_two1_img" alt="Cristal 407 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/e407-calendar-4.png" />
	  </center>
	<br/>   
    
  </ion-content>
  
      <div class="bar bar-footer footer">

      <a style="min-width: 33%; border-radius: 0px; font-size: 32px" class="button" href="tel:4806862280" title="Call">Call</a>
      <a style="min-width: 33%; border-radius: 0px" class="button" ng-href="#/form" title="Form">I Want Condo</a>
      <a style="min-width: 33%; border-radius: 0px" class="button" ng-href="#/C11" title="Calendar">Calendar</a>

      </div>
  
</ion-view>
