<ion-view title="Las Palomas Cristal 407">
  <ion-content class="has-header padding">
    <h1>Three Bedroom - Two Bath</h1>

    <div class="img-view">
    <center><img src="/img/Cristal 407/patio.jpg"></center>
    <center><p> Patio </p></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Cristal 407/kitchen.jpg"></center>
    <center><p> Kitchen </p></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Cristal 407/dining.jpg"></center>
    <center><p> Dining Room </p></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Cristal 407/living.jpg"></center>
    <center><p> Living Room </p></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Cristal 407/master.jpg"></center>
    <center><p> Master Bedroom (King Sized Bed) </p></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Cristal 407/bedroom2.jpg"></center>
    <center><p> Bedroom 2 (King Sized Bed) </p></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Cristal 407/bedroom3.jpg"></center>
    <center><p> Bedroom 3 (King Sized Bed) </p></center>
    </div>
    
  </ion-content>
  
      <div class="bar bar-footer footer">

      <a style="min-width: 33%; border-radius: 0px" class="button icon-top ion-iphone" href="tel:4806862280" title="Call">Call</a>
      <a style="min-width: 33%; border-radius: 0px" class="button icon-top ion-person" ng-href="#/form" title="Form">Form</a>
      <a style="min-width: 33%; border-radius: 0px" class="button icon-top ion-calendar" title="Calendar">Calendar</a>

      </div>
  
</ion-view>
