<ion-view title="Las Palomas Cristal 501">
  <ion-content class="has-header padding">
    <h1>Three Bed - Two Bath</h1>
    
    <div class="img-view">
    <center><img src="/img/Cristal 501/Las Palomas Lazy River Pool.jpg"></center>
    <center><p> Las Palomas Lazy River Pool </p></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Cristal 501/living.jpg"></center>
    <center><p> Living Room </p></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Cristal 501/kitchen.jpg"></center>
    <center><p> Kitchen </p></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Cristal 501/bedroom.jpg"></center>
    <center><p> Bedroom (King Sized Bed) </p></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Cristal 501/bathroom.jpg"></center>
    <center><p> Bathroom </p></center>
    </div>
    
  </ion-content>
</ion-view>
