<ion-view title="Las Palomas Cristal 501">
  <ion-content class="has-header padding">
    <h3>Three Bed - Two Bath</h3>
    
    <div class="img-view">
    <center><img src="/img/Cristal 501/Las Palomas Lazy River Pool.jpg"></center>
    <center><h4> Las Palomas Lazy River Pool </h4></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Cristal 501/living.jpg"></center>
    <center><h4> Living Room </h4></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Cristal 501/kitchen.jpg"></center>
    <center><h4> Kitchen </h4></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Cristal 501/bedroom.jpg"></center>
    <center><h4> Bedroom (King Sized Bed) </h4></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Cristal 501/bathroom.jpg"></center>
    <center><h4> Bathroom </h4></center>
    </div>

	  <div class="padding">
		  <center><p> Availability </p></center>
	  </div>
	  
       <img src="http://www.rentalsinrockypoint.com/images/key.png" class="center" alt="Cristal 501 Availability Calendar">
      <img class="article_two1_img" alt="Cristal 501 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/e501-calendar.png" />

	  <div class="padding">
		  <center><p>  </p></center>
	  </div>	  
	  
      <script type="text/javascript">
          function LastModUsingHeader(sFile) {
	            var X = !window.XMLHttpRequest ? new ActiveXObject('Microsoft.XMLHTTP') : new XMLHttpRequest;
              X.open('GET', sFile, false);
   	          try{ X.send();}
	            catch(y){}
  	          var dtImage=new Date();
	            dtImage = X.getResponseHeader('Last-Modified'); 
	            return new Date(dtImage).toLocaleString();
          }
          document.getElementById('getImageDate3').innerHTML=LastModUsingHeader('rentals-in-rocky-point-calendars/e501-calendar.png'); ;
      </script>
    
  </ion-content>
  
      <div class="bar bar-footer footer">

      <a style="min-width: 33%; border-radius: 0px; font-size: 32px" class="button" href="tel:4806862280" title="Call">Call</a>
      <a style="min-width: 33%; border-radius: 0px" class="button" ng-href="#/form" title="Form">I Want Condo</a>
      <a style="min-width: 33%; border-radius: 0px" class="button" ng-href="#/C12" title="Calendar">Calendar</a>

      </div>  
  
</ion-view>
