<ion-view title="Las Palomas Diamante 508">
  <ion-content class="has-header padding">
    <h3>Three Bed - Three Bath</h3>
    
    <div class="img-view">
    <center><img src="/img/Diamante 508/patio.jpg"></center>
    <center><h4> Patio </h4></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Diamante 508/kitchen.jpg"></center>
    <center><h4> Kitchen </h4></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Diamante 508/bedroom.jpg"></center>
    <center><h4> Bedroom 1 (King Size Bed) </h4></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Diamante 508/2nd_bedroom.jpg"></center>
    <center><h4> Bedroom 2 (King Size Bed) </h4></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Diamante 508/3rd_bedroom.jpg"></center>
    <center><h4> Bedroom 3 (King Size Bed) </h4></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Diamante 508/sleeper_sofa.jpg"></center>
    <center><h4> Big Sleeper Sofa! </h4></center>
    </div>
	  
    	  <div class="padding">
		  <center><p> Availability </p></center>
	  </div>
	  <center>
   <img src="http://www.rentalsinrockypoint.com/images/key.png" class="center" width="80%" alt="Diamante 508 Availability Calendar">
      <img class="article_two1_img" alt="Diamante 508 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a508-calendar-1.png" />
	  <img class="article_two1_img" alt="Diamante 508 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a508-calendar-2.png" />
	  <img class="article_two1_img" alt="Diamante 508 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a508-calendar-3.png" />
	  <img class="article_two1_img" alt="Diamante 508 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a508-calendar-4.png" />
	  </center>
	  <br/>
    
  </ion-content>
  
      <div class="bar bar-footer footer">

      <a style="min-width: 33%; border-radius: 0px; font-size: 32px" class="button" href="tel:4806862280" title="Call">Call</a>
      <a style="min-width: 33%; border-radius: 0px" class="button" ng-href="#/f13" title="Form">I Want Condo</a>
      <a style="min-width: 33%; border-radius: 0px" class="button" ng-href="#/C13" title="Calendar">Calendar</a>

      </div>
  
</ion-view>
