<ion-view title="Las Palomas Opalo 808">
  <ion-content class="has-header padding">
    <h1>Three Bed - Three Bath</h1>
    
    <div class="img-view">
    <center><img src="/img/Opalo 808/evening views.jpg"></center>
    <center><p> Evening Views </p></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Opalo 808/patio.jpg"></center>
    <center><p> Patio </p></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Opalo 808/kitchen.jpg"></center>
    <center><p> Kitchen </p></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Opalo 808/dining room table.jpg"></center>
    <center><p> Dining Room </p></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Opalo 808/living area.jpg"></center>
    <center><p> Living Room </p></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Opalo 808/bed 3.jpg"></center>
    <center><p> Bedroom (King Size Bed) </p></center>
    </div>
    
    <div class="img-view">
    <center><img src="/img/Opalo 808/bath 4.jpg"></center>
    <center><p> Bathroom </p></center>
    </div>
    
  </ion-content>
 
      <div class="bar bar-footer footer">

      <a style="min-width: 33%; border-radius: 0px" class="button icon-top ion-iphone" href="tel:4806862280" title="Call">Call</a>
      <a style="min-width: 33%; border-radius: 0px" class="button icon-top ion-person" ng-href="#/form" title="Form">Form</a>
      <a style="min-width: 33%; border-radius: 0px" class="button icon-top ion-calendar" title="Calendar">Calendar</a>

      </div>  
  
</ion-view>
