<ion-view title="All Condos">
  <ion-content ng-controller="AllCtrl">
    <h3>One Bedroom Rentals</h3>
    <center><a href="#/1B3"> <img src="http://www.rentalsinrockypoint.com/images/buttons/Diamante-906-Button.jpg"> </a></center>
    <center><a href="#/1B2"> <img src="http://www.rentalsinrockypoint.com/images/buttons/Cristal-302-Button.jpg"> </a></center>
    <center><a href="#/1B1"> <img src="http://www.rentalsinrockypoint.com/images/buttons/Cristal-202-Button.jpg"> </a></center>
    <center><a href="#/1B4">  <img src="http://www.rentalsinrockypoint.com/images/buttons/Cabrillo-1402-Button.jpg">  </a></center>
    <br/>
    <h3>Two Bedroom Rentals</h3>
    <center><a href="#/2B1"> <img src="http://www.rentalsinrockypoint.com/images/buttons/Diamante-1003-Button.jpg"> </a> </center>
      <center><a href="#/2B2"> <img src="http://www.rentalsinrockypoint.com/images/buttons/Diamante-401-Button.jpg"> </a> </center>
      <center><a href="#/2B3"> <img src="http://www.rentalsinrockypoint.com/images/buttons/Diamante-801-Button.jpg"> </a> </center>
      <center><a href="#/2B4"> <img src="http://www.rentalsinrockypoint.com/images/buttons/Opalo-403-Button.jpg"> </a> </center>
      <center><a href="#/2B5"> <img src="http://www.rentalsinrockypoint.com/images/buttons/Rubi-206-Button.jpg"> </a> </center>
      <center><a href="#/2B6"> <img src="http://www.rentalsinrockypoint.com/images/buttons/Topaz-804-Button.jpg"> </a> </center>

    <br/>
    <h3>Three Bedroom Rentals</h3>
    <center> <a ng-href="#/3B3"> <img src="http://www.rentalsinrockypoint.com/images/buttons/Cristal-501-Button.jpg"> </a> </center>
    <center> <a ng-href="#/3B2"> <img src="http://www.rentalsinrockypoint.com/images/buttons/Cristal-407-Button.jpg"> </a> </center>
    <center> <a ng-href="#/3B1"> <img src="http://www.rentalsinrockypoint.com/images/buttons/Coronado-803-Button.jpg"> </a> </center>
    <center> <a ng-href="#/3B4"> <img src="http://www.rentalsinrockypoint.com/images/buttons/Diamante-508-Button.jpg"> </a> </center>
    <center> <a ng-href="#/3B5"> <img src="http://www.rentalsinrockypoint.com/images/buttons/Opalo-808-Button.jpg"> </a> </center>
    <center> <a ng-href="#/3B6"> <img src="http://www.rentalsinrockypoint.com/images/buttons/Opalo-408-Button.jpg"> </a> </center>
    <center> <a ng-href="#/3B7">  <img src="http://www.rentalsinrockypoint.com/images/buttons/Opalo-201-Button.jpg">  </a> </center>
    <center> <a ng-href="#/3B8">  <img src="http://www.rentalsinrockypoint.com/images/buttons/Opalo-707-Button.jpg">  </a> </center>

    <br/>
  </ion-content>
</ion-view>
