<ion-view title="All Condos">
  <ion-content ng-controller="AllCtrl">
    <h3>One Bedroom Rentals</h3>
    <center>
      <a href="#/1B3"> <img src="http://www.rentalsinrockypoint.com/images/buttons/Diamante-906-Button.jpg"> 
      </a>
    </center>
    <center>
      <img src="http://www.rentalsinrockypoint.com/images/key.png" class="center" width="80%" alt="Diamante 906 Availability Calendar">          
    </center>
    <center>
      <img class="article_two1_img" alt="Diamante 906 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a906-calendar-1.png" />
      <img class="article_two1_img" alt="Diamante 906 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a906-calendar-2.png" />
      <img class="article_two1_img" alt="Diamante 906 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a906-calendar-3.png" />
      <img class="article_two1_img" alt="Diamante 906 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a906-calendar-4.png" />
    </center>
    </br>
  <center>
    <a href="#/1B2">
      <img src="http://www.rentalsinrockypoint.com/images/buttons/Cristal-302-Button.jpg">
    </a>
  </center>
  <center>
    <img src="http://www.rentalsinrockypoint.com/images/key.png" class="center" width="80%" alt="Cristal 302 Availability Calendar">
  </center>
  <center>
    <img class="article_two1_img" alt="Cristal 302 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/e302-calendar-1.png" />
    <img class="article_two1_img" alt="Cristal 302 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/e302-calendar-2.png" />
    <img class="article_two1_img" alt="Cristal 302 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/e302-calendar-3.png" />
    <img class="article_two1_img" alt="Cristal 302 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/e302-calendar-4.png" />
  </center>
  </br>
<center>
  <a href="#/1B1">
    <img src="http://www.rentalsinrockypoint.com/images/buttons/Cristal-202-Button.jpg">
  </a>
</center>
<center>
  <img src="http://www.rentalsinrockypoint.com/images/key.png" width="80%" alt="Cristal 202 Availability Calendar">
</center>
<center>
  <img class="article_two1_img" alt="Cristal 202 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/e202-calendar-1.png" />
  <img class="article_two1_img" alt="Cristal 202 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/e202-calendar-2.png" />
  <img class="article_two1_img" alt="Cristal 202 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/e202-calendar-3.png" />
  <img class="article_two1_img" alt="Cristal 202 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/e202-calendar-4.png" />
</center>
</br>
<center>
  <a href="#/1B4">
    <img src="http://www.rentalsinrockypoint.com/images/buttons/Cabrillo-1402-Button.jpg">
  </a>
</center>
<center>
  <img src="http://www.rentalsinrockypoint.com/images/key.png" width="80%" class="center" alt="Cabrillo 1402 Availability Calendar">        
</center>
<center>
  <img class="article_two1_img' alt="Cabrillo 1402 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/g1402-calendar-1.png" />
  <img class="article_two1_img' alt="Cabrillo 1402 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/g1402-calendar-2.png" />
                               <img class="article_two1_img' alt="Cabrillo 1402 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/g1402-calendar-3.png" />
  <img class="article_two1_img' alt="Cabrillo 1402 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/g1402-calendar-4.png" />
  </center>
  <br/>
  <br/>
  <h3>Two Bedroom Rentals</h3>
  <center>
  <a href="#/2B1">
                 <img src="http://www.rentalsinrockypoint.com/images/buttons/Diamante-1003-Button.jpg">
                                                                                                      </a>
                                                                                                      </center>
                                                                                                      <center>
                                                                                                      <img src="http://www.rentalsinrockypoint.com/images/key.png" class="center" width="80%" alt="Diamante 1003 Availability Calendar">           
                                                                                                      </center>
                                                                                                      <center>
                                                                                                      <img class="article_two1_img" alt="Diamante 1003 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a1003-calendar-1.png" />	   
                                                                                                      <img class="article_two1_img" alt="Diamante 1003 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a1003-calendar-2.png" />	   
                                                                                                      <img class="article_two1_img" alt="Diamante 1003 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a1003-calendar-3.png" />	   
                                                                                                      <img class="article_two1_img" alt="Diamante 1003 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a1003-calendar-4.png" />	  
                                                                                                      </center>
                                                                                                      <br/>
                                                                                                      <center>
                                                                                                      <a href="#/2B2">
                                                                                                                     <img src="http://www.rentalsinrockypoint.com/images/buttons/Diamante-401-Button.jpg">
                                                                                                                     </a>
                                                                                                                     </center>
                                                                                                                     <center>   	   
                                                                                                                     <img src="http://www.rentalsinrockypoint.com/images/key.png" class="center" width="80%" alt="Diamante 401 Availability Calendar">           
                                                                                                                     </center>      
                                                                                                                     <center>      	   
                                                                                                                     <img class="article_two1_img" alt="Diamante 401 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a401-calendar-1.png" />
                                                                                                                     <img class="article_two1_img" alt="Diamante 401 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a401-calendar-2.png" />
                                                                                                                     <img class="article_two1_img" alt="Diamante 401 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a401-calendar-3.png" />
                                                                                                                     <img class="article_two1_img" alt="Diamante 401 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a401-calendar-4.png" />
                                                                                                                     </center>
                                                                                                                     <br/>
                                                                                                                     <center>
                                                                                                                     <a href="#/2B3"> 
                                                                                                                                    <img src="http://www.rentalsinrockypoint.com/images/buttons/Diamante-801-Button.jpg">
                                                                                                                                    </a> 
                                                                                                                                    </center>
                                                                                                                                    <center>
                                                                                                                                    <img src="http://www.rentalsinrockypoint.com/images/key.png" class="center" width="80%" alt="Diamante 801 Availability Calendar">           
                                                                                                                                    </center>
                                                                                                                                    <center>
                                                                                                                                    <img class="article_two1_img" alt="Diamante 801 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a801-calendar-1.png" />
                                                                                                                                    <img class="article_two1_img" alt="Diamante 801 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a801-calendar-2.png" />
                                                                                                                                    <img class="article_two1_img" alt="Diamante 801 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a801-calendar-3.png" />
                                                                                                                                    <img class="article_two1_img" alt="Diamante 801 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a801-calendar-4.png" />
                                                                                                                                    </center>
                                                                                                                                    <br/>
                                                                                                                                    <center>
                                                                                                                                    <a href="#/2B4">
                                                                                                                                                   <img src="http://www.rentalsinrockypoint.com/images/buttons/Opalo-403-Button.jpg">
                                                                                                                                                   </a>
                                                                                                                                                   </center>
                                                                                                                                                   <center>
                                                                                                                                                   <img src="http://www.rentalsinrockypoint.com/images/key.png" class="center" width="80%" alt="Opalo 403 Availability Calendar">           
                                                                                                                                                   </center>
                                                                                                                                                   <center>
                                                                                                                                                   <img class="article_two1_img" alt="Opalo 403 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/d403-calendar-1.png" />
                                                                                                                                                   <img class="article_two1_img" alt="Opalo 403 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/d403-calendar-2.png" />
                                                                                                                                                   <img class="article_two1_img" alt="Opalo 403 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/d403-calendar-3.png" />
                                                                                                                                                   <img class="article_two1_img" alt="Opalo 403 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/d403-calendar-4.png" />
                                                                                                                                                   
                                                                                                                                                   </center>
                                                                                                                                                   <br/>
                                                                                                                                                   <center>
                                                                                                                                                   <a href="#/2B5">
                                                                                                                                                   <img src="http://www.rentalsinrockypoint.com/images/buttons/Rubi-206-Button.jpg">
                                                                                                                                                   </a>
                                                                                                                                                   </center>
                                                                                                                                                   <center>
                                                                                                                                                   <img src="http://www.rentalsinrockypoint.com/images/key.png" class="center" width="80%" alt="Rubi 206 Availability Calendar">           
                                                                                                                                                   </center>
                                                                                                                                                   <center>
                                                                                                                                                   <img class="article_two1_img" alt="Rubi 206 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/c206-calendar-1.png" />
                                                                                                                                                   <img class="article_two1_img" alt="Rubi 206 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/c206-calendar-2.png" />
                                                                                                                                                   <img class="article_two1_img" alt="Rubi 206 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/c206-calendar-3.png" />
                                                                                                                                                   <img class="article_two1_img" alt="Rubi 206 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/c206-calendar-4.png" />
                                                                                                                                                   </center>
                                                                                                                                                   <br/>
                                                                                                                                                   <center>
                                                                                                                                                   <a href="#/2B6">
                                                                                                                                                   <img src="http://www.rentalsinrockypoint.com/images/buttons/Topaz-804-Button.jpg">
                                                                                                                                                   </a>
                                                                                                                                                   </center>
                                                                                                                                                   <center>
                                                                                                                                                   <img src="http://www.rentalsinrockypoint.com/images/key.png" class="center" width="80%" alt="Topaz 804 Availability Calendar">           
                                                                                                                                                   </center>
                                                                                                                                                   <center>
                                                                                                                                                   <img class="article_two1_img" alt="Topaz 804 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/b804-calendar-1.png" />
                                                                                                                                                   <img class="article_two1_img" alt="Topaz 804 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/b804-calendar-2.png" />
                                                                                                                                                   <img class="article_two1_img" alt="Topaz 804 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/b804-calendar-3.png" />
                                                                                                                                                   <img class="article_two1_img" alt="Topaz 804 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/b804-calendar-4.png" />
                                                                                                                                                   </center>
                                                                                                                                                   <br/>
                                                                                                                                                   <br/>
                                                                                                                                                   <h3>Three Bedroom Rentals</h3>
                                                                                                                                                   <center>
                                                                                                                                                   <a ng-href="#/3B3">
                                                                                                                                                   <img src="http://www.rentalsinrockypoint.com/images/buttons/Cristal-501-Button.jpg">
                                                                                                                                                   </a>
                                                                                                                                                   </center>
                                                                                                                                                   <center>
                                                                                                                                                   <img src="http://www.rentalsinrockypoint.com/images/key.png" class="center" width="80%" alt="Cristal 501 Availability Calendar">
                                                                                                                                                   </center>
                                                                                                                                                   <center>
                                                                                                                                                   <img class="article_two1_img" alt="Cristal 501 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/e501-calendar-1.png" />
                                                                                                                                                   <img class="article_two1_img" alt="Cristal 501 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/e501-calendar-2.png" />
                                                                                                                                                   <img class="article_two1_img" alt="Cristal 501 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/e501-calendar-3.png" />
                                                                                                                                                   <img class="article_two1_img" alt="Cristal 501 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/e501-calendar-4.png" />
                                                                                                                                                   </center>
                                                                                                                                                   <br/>
                                                                                                                                                   <center>
                                                                                                                                                   <a ng-href="#/3B2">
                                                                                                                                                   <img src="http://www.rentalsinrockypoint.com/images/buttons/Cristal-407-Button.jpg">
                                                                                                                                                   </a>
                                                                                                                                                   </center>
                                                                                                                                                   <center>
                                                                                                                                                   <img src="http://www.rentalsinrockypoint.com/images/key.png" class="center" width="80%" alt="Cristal 407 Availability Calendar">
                                                                                                                                                   </center>
                                                                                                                                                   <center>
                                                                                                                                                   <img class="article_two1_img" alt="Cristal 407 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/e407-calendar-1.png" />
                                                                                                                                                   <img class="article_two1_img" alt="Cristal 407 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/e407-calendar-2.png" />
                                                                                                                                                   <img class="article_two1_img" alt="Cristal 407 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/e407-calendar-3.png" />
                                                                                                                                                   <img class="article_two1_img" alt="Cristal 407 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/e407-calendar-4.png" />
                                                                                                                                                   </center>
                                                                                                                                                   <br/>
                                                                                                                                                   <center>
                                                                                                                                                   <a ng-href="#/3B4">
                                                                                                                                                   <img src="http://www.rentalsinrockypoint.com/images/buttons/Diamante-508-Button.jpg">
                                                                                                                                                   </a>
                                                                                                                                                   </center>
                                                                                                                                                   <center>
                                                                                                                                                   <img src="http://www.rentalsinrockypoint.com/images/key.png" class="center" width="80%" alt="Diamante 508 Availability Calendar">
                                                                                                                                                   </center>
                                                                                                                                                   <center>
                                                                                                                                                   <img class="article_two1_img" alt="Diamante 508 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a508-calendar-1.png" />
                                                                                                                                                   <img class="article_two1_img" alt="Diamante 508 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a508-calendar-2.png" />
                                                                                                                                                   <img class="article_two1_img" alt="Diamante 508 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a508-calendar-3.png" />
                                                                                                                                                   <img class="article_two1_img" alt="Diamante 508 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a508-calendar-4.png" />
                                                                                                                                                   </center>
                                                                                                                                                   <br/>
                                                                                                                                                   <center>
                                                                                                                                                   <a ng-href="#/3B6">
                                                                                                                                                   <img src="http://www.rentalsinrockypoint.com/images/buttons/Opalo-808-Button.jpg">
                                                                                                                                                   </a>
                                                                                                                                                   </center>
                                                                                                                                                   <center>
                                                                                                                                                   <img src="http://www.rentalsinrockypoint.com/images/key.png" class="center" width="80%" alt="Opalo 808 Availability Calendar">           
                                                                                                                                                   </center>
                                                                                                                                                   <center>
                                                                                                                                                   <img class="article_two1_img" alt="Opalo 808 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/d808-calendar-1.png" />
                                                                                                                                                   <img class="article_two1_img" alt="Opalo 808 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/d808-calendar-2.png" />
                                                                                                                                                   <img class="article_two1_img" alt="Opalo 808 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/d808-calendar-3.png" />
                                                                                                                                                   <img class="article_two1_img" alt="Opalo 808 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/d808-calendar-4.png" />
                                                                                                                                                   </center>
                                                                                                                                                   <br/>
                                                                                                                                                   <center>
                                                                                                                                                   <a ng-href="#/3B5">
                                                                                                                                                   <img src="http://www.rentalsinrockypoint.com/images/buttons/Opalo-408-Button.jpg">
                                                                                                                                                   </a>
                                                                                                                                                   </center>
                                                                                                                                                   <center>
                                                                                                                                                   <img src="http://www.rentalsinrockypoint.com/images/key.png" class="center" width="80%" alt="Opalo 408 Availability Calendar">           
                                                                                                                                                   </center>
                                                                                                                                                   <center>
                                                                                                                                                   <img class="article_two1_img" alt="Opalo 408 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/d408-calendar-1.png" />
                                                                                                                                                   <img class="article_two1_img" alt="Opalo 408 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/d408-calendar-2.png" />
                                                                                                                                                   <img class="article_two1_img" alt="Opalo 408 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/d408-calendar-3.png" />
                                                                                                                                                   <img class="article_two1_img" alt="Opalo 408 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/d408-calendar-4.png" />
                                                                                                                                                   </center>
                                                                                                                                                   <br/>
<center> <a ng-href="#/3B1">
                           <img src="http://www.rentalsinrockypoint.com/images/buttons/Coronado-803-Button.jpg">
                                                                                                               </a>
                                                                                                               </center>
                                                                                                               <center>
                                                                                                               <img src="http://www.rentalsinrockypoint.com/images/key.png" class="center" width="80%" alt="Coronado 803 Availability Calendar">           
                                                                                                               </center>
                                                                                                               <center>
                                                                                                               <img class="article_two1_img" alt="Coronado 803 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/f803-calendar-1.png" />
                                                                                                               <img class="article_two1_img" alt="Coronado 803 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/f803-calendar-2.png" />
                                                                                                               <img class="article_two1_img" alt="Coronado 803 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/f803-calendar-3.png" />
                                                                                                               <img class="article_two1_img" alt="Coronado 803 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/f803-calendar-4.png" />
                                                                                                               </center>
                                                                                                               <br/>    
<center>
<a ng-href="#/3B7">
                  <img src="http://www.rentalsinrockypoint.com/images/buttons/Opalo-201-Button.jpg">
                                                                                                   </a>
                                                                                                   </center>
                                                                                                   <center>
                                                                                                   <img src="http://www.rentalsinrockypoint.com/images/key.png" width="80%" class="center" alt="Opalo 201 Availability Calendar">        
                                                                                                   </center>
                                                                                                   <center>
                                                                                                   <img class="article_two1_img' alt="Opalo 201 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/d201-calendar-1.png" />        
                                                                                                                                
                                                                                                                                <img class="article_two1_img' alt="Opalo 201 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/d201-calendar-2.png" />
  <img class="article_two1_img' alt="Opalo 201 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/d201-calendar-3.png" />
  <img class="article_two1_img' alt="Opalo 201 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/d201-calendar-4.png" />
                               </center>
                               <br/>
                               <center>
                               <a ng-href="#/3B8">
                               <img src="http://www.rentalsinrockypoint.com/images/buttons/Opalo-707-Button.jpg">
                               </a>
                               </center>
                               <center>
                               <img src="http://www.rentalsinrockypoint.com/images/key.png" class="center" width="80%" alt="Opalo 707 Availability Calendar">
                               </center>
                               <center>
                               <img class="article_two1_img" alt="Opalo 707 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/d707-calendar-1.png" />
                               <img class="article_two1_img" alt="Opalo 707 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/d707-calendar-2.png" />
                               <img class="article_two1_img" alt="Opalo 707 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/d707-calendar-3.png" />
                               <img class="article_two1_img" alt="Opalo 707 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/d707-calendar-4.png" />
                               </center>
                               <br/>
                               <br/>
          </ion-content>
</ion-view>
