<ion-view title="One">
  <ion-content ng-controller="AllCtrl">
    <h1>One Bedroom Rentals</h1>
    <center><a href="#/1B1"> <img src="/img/Cristal-202-Button.jpg"> </a></center>
    <center><a href="#/1B2"> <img src="/img/Cristal-302-Button.jpg"> </a></center>
    <center><a href="#/1B3"> <img src="/img/Diamante-906-Button.jpg"> </a></center>
    <h1>Two Bedrooms</h1>
    <center><a href="#/2B1"> <img src="/img/2B1.jpg"> </a> </center>
    <center><a href="#/2B2"> <img src="/img/2B2.jpg"> </a> </center>
    <center><a href="#/2B3"> <img src="/img/2B3.jpg"> </a> </center>
    <center><a href="#/2B4"> <img src="/img/2B4.jpg"> </a> </center>
    <center><a href="#/2B5"> <img src="/img/2B5.jpg"> </a> </center>
    <center><a href="#/2B6"> <img src="/img/2B6.jpg"> </a> </center>
    <h1>Three Bedrooms</h1>
    <center> <a href="#/3B1"> <img src="/img/3B1.jpg"> </a> </center>
    <center> <a href="#/3B2"> <img src="/img/3B2.jpg"> </a> </center>
    <center> <a href="#/3B3"> <img src="/img/3B3.jpg"> </a> </center>
    <center> <a href="#/3B4"> <img src="/img/3B4.jpg"> </a> </center>
    <center> <a href="#/3B5"> <img src="/img/3B5.jpg"> </a> </center>
    <center> <a href="#/3B6"> <img src="/img/3B6.jpg"> </a> </center>
  </ion-content>
</ion-view>
