<ion-view title="Availability">
  <ion-content class="has-header padding">
  <h3> Diamante 1003 Availability </h3>
  
   <img src="http://www.rentalsinrockypoint.com/images/key.png" class="center" alt="Diamante 1003 Availability Calendar">
      <img class="article_two1_img" alt="Diamante 1003 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a1003-calendar.png" />
      
      <script type="text/javascript">
          function LastModUsingHeader(sFile) {
	            var X = !window.XMLHttpRequest ? new ActiveXObject('Microsoft.XMLHTTP') : new XMLHttpRequest;
              X.open('GET', sFile, false);
   	          try{ X.send();}
	            catch(y){}
  	          var dtImage=new Date();
	            dtImage = X.getResponseHeader('Last-Modified'); 
	            return new Date(dtImage).toLocaleString();
          }
          document.getElementById('getImageDate3').innerHTML=LastModUsingHeader('rentals-in-rocky-point-calendars/a1003-calendar.png'); ;
      </script>
  
  </ion-content>

      <div class="bar bar-footer footer">

      <a style="min-width: 50%; border-radius: 0px" class="button icon-top ion-iphone" href="tel:4806862280" title="Call">Call</a>
      <a style="min-width: 50%; border-radius: 0px" class="button icon-top ion-person" ng-href="#/form" title="Form">Rent</a>

      </div>  

</ion-view>
