<ion-view title="Availability">
  <ion-content class="has-header padding">
  <h1> Rubi 206 Availability </h1>
  
   <img src="http://www.rentalsinrockypoint.com/images/key.png" class="center" alt="Rubi 206 Availability Calendar">
      <img class="article_two1_img" alt="Rubi 206 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/c206-calendar.png" />
      
      <p class="center">Last Updated in Blue></i></p>
      <script type="text/javascript">
          function LastModUsingHeader(sFile) {
	            var X = !window.XMLHttpRequest ? new ActiveXObject('Microsoft.XMLHTTP') : new XMLHttpRequest;
              X.open('GET', sFile, false);
   	          try{ X.send();}
	            catch(y){}
  	          var dtImage=new Date();
	            dtImage = X.getResponseHeader('Last-Modified'); 
	            return new Date(dtImage).toLocaleString();
          }
          document.getElementById('getImageDate3').innerHTML=LastModUsingHeader('rentals-in-rocky-point-calendars/e202-calendar.png'); ;
      </script>
  
  </ion-content>
</ion-view>
