<ion-view title="Casa Vasquez Beach House in Las Conchas">  
  <ion-content class="has-header padding">
    <h3> Casa Vasquez: Three Bed - Three Bath</h3>
      <center>
        <div class="img-view">
          <center>
            <img src="http://www.rentalsinrockypoint.com/images/casa-vasquez/thumbs/009.jpg" width="100%">
          </center>
         <center>
         <h4> Right by the Ocean </h4>
         </center></div>
        <div class="img-view">
          <center>
            <img src="http://www.rentalsinrockypoint.com/images/casa-vasquez/thumbs/010.jpg" width="100%">
          </center>
         <center>
         <h4> Views Down the Beach </h4>
         </center></div>
        <div class="img-view">
          <center>
            <img src="http://www.rentalsinrockypoint.com/images/casa-vasquez/thumbs/011.jpg" width="100%">
          </center>
         <center>
         <h4> Welcome </h4>
         </center></div>
        <div class="img-view">
          <center>
            <img src="http://www.rentalsinrockypoint.com/images/casa-vasquez/thumbs/012.jpg" width="100%">
          </center>
         <center>
         <h4> Enjoy Your Stay </h4>
         </center></div>         
        <div class="img-view">
          <center>
            <img src="http://www.rentalsinrockypoint.com/images/casa-vasquez/thumbs/001.jpg" width="100%">
          </center>
         <center>
         <h4> Views From The Beach </h4>
         </center></div>
        <div class="img-view">
          <center>
            <img src="http://www.rentalsinrockypoint.com/images/casa-vasquez/thumbs/002.jpg" width="100%">
          </center>
         <center>
         <h4> Front of House </h4>
         </center></div> 
        <div class="img-view">
          <center>
            <img src="http://www.rentalsinrockypoint.com/images/casa-vasquez/thumbs/003.jpg" width="100%">
          </center>
         <center>
         <h4> Beautiful Oceanfront House </h4>
         </center></div>
        <div class="img-view">
          <center>
            <img src="http://www.rentalsinrockypoint.com/images/casa-vasquez/thumbs/004.jpg" width="100%">
          </center>
         <center>
         <h4> Large Patio </h4>
         </center></div>
        <div class="img-view">
          <center>
            <img src="http://www.rentalsinrockypoint.com/images/casa-vasquez/thumbs/005.jpg" width="100%">
          </center>
         <center>
         <h4> Living Area </h4>
         </center></div>
        <div class="img-view">
          <center>
            <img src="http://www.rentalsinrockypoint.com/images/casa-vasquez/thumbs/006.jpg" width="100%">
          </center>
         <center>
         <h4> Bedroom </h4>
         </center></div>         
        <div class="img-view">
          <center>
            <img src="http://www.rentalsinrockypoint.com/images/casa-vasquez/thumbs/007.jpg" width="100%">
          </center>
         <center>
         <h4> Bedroom </h4>
         </center></div>
        <div class="img-view">
          <center>
            <img src="http://www.rentalsinrockypoint.com/images/casa-vasquez/thumbs/008.jpg" width="100%">
          </center>
         <center>
         <h4> Bedroom </h4>
         </center></div>   
        <div class="img-view">
          <center>
            <img src="http://www.rentalsinrockypoint.com/images/casa-vasquez/thumbs/014.jpg" width="100%">
          </center>
         <center>
         <h4> Third Bedroom </h4>
         </center></div>
        <div class="img-view">
          <center>
            <img src="http://www.rentalsinrockypoint.com/images/casa-vasquez/thumbs/015.jpg" width="100%">
          </center>
         <center>
         <h4> Third Bedroom </h4>
         </center></div>           
        
        <br/>
        <div class="padding">
        <center><h3> Availability </h3></center>
        </div>
        <center><img src="http://www.rentalsinrockypoint.com/images/key.png" width="80%" class="center" alt="Diamante 1003 Availability Calendar">
        <img class="article_two1_img" alt="Diamante 1003 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/casa-vasquez-calendar.png" />
        </center>
        <br/>
     </ion-content>
      <div class="bar bar-footer footer">
         <a style="min-width: 33%; border-radius: 0px" class="button" href="tel:4806862280" title="Call">Call to Book</a>
         <a style="min-width: 33%; border-radius: 0px" class="button" ng-href="#/f4" title="Form">I Want Condo</a>
         <a style="min-width: 33%; border-radius: 0px" class="button" ng-href="#/C4" title="Calendar">Calendar</a>
      </div>
</ion-view>
