<ion-view title="I Want Condo">

	<ion-content has-header="true" padding="true">
        
	<iframe src="https://go.pardot.com/l/217652/2016-08-03/369i/" width="100%" scrolling="no" id="sizetracker"></iframe>
  	
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.3/iframeResizer.min.js"></script>
		<script type="text/javascript">
		  // Create browser compatible event handler.
		  var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
		  var eventer = window[eventMethod];
		  var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";
		  // Listen for a message from the iframe.
		  eventer(messageEvent, function(e) {
		    if (isNaN(e.data)) return;
 
		    // replace #sizetracker with what ever what ever iframe id you need
		    document.getElementById('sizetracker').style.height = e.data + 'px';
 
		  }, false);
		</script>
		<br/>
		
                        <div style="text-align: center; margin: 25px 0;"><h4>or</h4></div>

            		 <h3>For a quicker response,</h3>
			 <h6>call now: </h6>
                     	 <center><a style="color: #f62b2b" class="button button-call" href="tel:4806862280" title="Call">(480) 686-2280</a></center><br/>
          	         <h3> 9am-10pm </h3>

        </div>


	</ion-content>


</ion-view>
