<ion-view title="Las Palomas Cristal 302">
  <ion-content class="has-header padding">
    
    <form action="http://www2.rentalsinrockypoint.com/l/217652/2016-09-19/2c67" name="myForm" onsubmit="return validateForm();" method="POST" id="plantrip">
       <h3>Start Planning Your Trip TODAY!</h3>
 <span style="color:#27AAE1;">Please complete the form below to receive rates &amp; availability information.</span> 
      <br/>
      <input type="hidden" name="oid" value="00D40000000Mq6R">
      <input type="hidden" name="retURL" value="http://rentalsinrockypoint.com/thankyou.html">
      <label for="first_name">First Name</label>
      <input maxlength="40" id="first_name" name="first_name" size="20" type="text">
      <label for="last_name">Last Name</label>
      <input maxlength="80" id="last_name" name="last_name" size="20" type="text">
      <label for="phone">Phone</label>
      <input maxlength="40" id="phone" name="phone" size="20" type="text">
      <label for="email">Email</label>
      <input maxlength="80" id="email" name="email" size="20" type="text">Condo Of Interest:
      <select name="00N40000002MLbE" title="Condo Of Interest" style="width:155px">
      <option value="Not Sure">Select a Condo</option>
       <option value="Diamante 508">Diamante 508 (3 Bed 3 Bath)</option>
       <option value="Opalo 408">Opalo 408 (3 Bed 3 Bath)</option>
       <option value="Opalo 808">Opalo 808 (3 Bed 3 Bath)</option>
       <option value="Cristal 501">Cristal 501 (3 Bed 2 Bath)</option>
       <option value="Cristal 407">Cristal 407 (3 Bed 2 Bath)</option>
       <option value="Coronado 803">Coronado 803 (3 Bed 2 Bath)</option>
       <option value="Diamante 1003">Diamante 1003 (2 Bed 2 Bath)</option>
       <option value="Diamante 401">Diamante 401 (2 Bed 2 Bath)</option>
       <option value="Diamante 801">Diamante 801 (2 Bed 2 Bath)</option>
       <option value="Opalo 403">Opalo 403 (2 Bed 2 Bath)</option>
       <option value="Rubi 206">Rubi 206 (2 Bed 2 Bath)</option>
       <option value="Topaz 804">Topaz 804 (2 Bed 2 Bath)</option>
       <option value="Cristal 202">Cristal 202 (1 Bed 1 Bath)</option>
       <option value="Cristal 302">Cristal 302 (1 Bed 1 Bath)</option>
       <option value="Diamante 906">Diamante 906 (1 Bed 1 Bath)</option>
       <option value="Casa Vasquez">Casa Vasquez (3 Bed 3 Bath Las Conchas House)</option>
      </select>Arrival Date:<span class="dateInput dateOnlyInput">
          <input id="popupDatepicker" name="00N40000002MNHk" size="12" type="text">
          </span> Departure Date:<span class="dateInput dateOnlyInput">
            <input id="Departure" name="00N40000002MNHp" size="12" type="text">
            </span>

      <label for="description">Questions/Comments</label>
      <textarea id="00N40000003CNTl" name="00N40000003CNTl"></textarea>
      <br/>
      
      <div style="position:absolute; left:-9999px; top: -9999px;">
    <label for="pardot_extra_field">Comments</label>
    <input type="text" id="pardot_extra_field" name="pardot_extra_field">
</div>
      
      <input type="hidden" name="recordType" value="01240000000UZsI">
      <input type="hidden" name="lead_source" value="Website">
      <span style="display:none;"><input class="hidden" name="00N40000002x0ay" type="checkbox" value="1" checked /></span>
      <input type="submit" name="submit">
       <h3>For a quicker response, please call: <br/>
          (480) 686-2280<br/>
          9am-10pm </h3>

     </form>
    
  </ion-content>
  
    
</ion-view>
