<ion-view hide-nav-bar="true">

    <ion-content class="home-content" has-header="false" padding="true" style="height: 100%;">

        <div class="row row-logo"></div>
        
        <h1> What would you like to see? </h1>
        
        <div class="row row-buttons">
            <div class="col">
                <a ng-href="#/register" class="button button-block button-positive">
                    1 Bedroom <i class="icon ion-ios7-arrow-forward"></i>
                </a>
                <a ng-href="#/register" class="button button-block button-positive">
                    2 Bedrooms <i class="icon ion-ios7-arrow-forward"></i>
                </a>
                <a ng-href="#/register" class="button button-block button-positive">
                    3 Bedrooms <i class="icon ion-ios7-arrow-forward"></i>
                </a>
                <a ng-href="#/register" class="button button-block button-positive">
                    See All <i class="icon ion-ios7-arrow-forward"></i>
                </a>
                <!--
                <a ng-href="#/login" class="button button-block button-positive">
                  Already registered? Sign in &nbsp;<i class="icon ion-ios7-arrow-forward"></i>
                </a>
                -->
            </div>
        </div>

    </ion-content>

</ion-view>
