<ion-view hide-nav-bar="true">



    <ion-content class="home-content" has-header="false" padding="true" style="height: 100%;">



        <div class="row row-logo"></div>

        <a href="tel:4806862280" class="button button-block button-call">

                    (480) 686-2280 

                </a>

        

        <div class="row">

        <h1> <center>  Pick Your Condo: </center> </h1> 

        </div>

                    

        <div class="row row-buttons">

            <div class="col">

		   <center>

                <a ng-href="#/one" class="button button-block button-positive">

                    1 Bedroom <i class="icon ion-ios7-arrow-forward"></i>

                </a>

                <a ng-href="#/two" class="button button-block button-positive">

                    2 Bedrooms <i class="icon ion-ios7-arrow-forward"></i>

                </a>

                <a ng-href="#/three" class="button button-block button-positive">

                    3 Bedrooms <i class="icon ion-ios7-arrow-forward"></i>

                </a>

                <a ng-href="#/all" class="button button-block button-positive">

                    See All <i class="icon ion-ios7-arrow-forward"></i>

                </a>

              </center> 

		</div>
		
		<div class="col">
			
			   <a ng-href="#/more" class="button button-other">
        		  Looking for more?
      				</a>
		</div>

        </div>



    </ion-content>



</ion-view>



