<ion-view title="Las Palomas">
  <ion-content ng-controller="AllCtrl">
    <h3>Las Palomas</h3>

	  <div class="col">
	<center>
      <a href="tel:4806862280" class="button button-other">
          Looking to Book? Call now!
      </a>									  
	</center>          
	  </div>

	  <div class="col">
	<img width="100%" src="http://www.rentalsinrockypoint.com/images/casa-vasquez/thumbs/001.jpg">
      <a href="#/casavasquez" class="button button-other">
		         Book for Casa Vasquez - Beach House in Las Conchas
      </a>
	<img width="100%" src="https://raw.githubusercontent.com/Code4Bananas/Design-App/master/client/img/10.jpg">
		  <h4> Las Palomas </h4>
      <img width="100%" src="https://raw.githubusercontent.com/Code4Bananas/Design-App/master/client/img/13.jpg">
		  <h4> Sonoran Sky </h4>	
      <img width="100%" src="https://raw.githubusercontent.com/Code4Bananas/Design-App/master/client/img/6.jpg">
		  <h4> Bella Sirena </h4>
      <img width="100%" src="https://raw.githubusercontent.com/Code4Bananas/Design-App/master/client/img/8.jpg">
		  <h4> Sonoran Spa </h4>
      <img width="100%" src="https://raw.githubusercontent.com/Code4Bananas/Design-App/master/client/img/12.jpg">
		  <h4> Sanoran Sun </h4>		  
      <img width="100%" src="https://raw.githubusercontent.com/Code4Bananas/Design-App/master/client/img/3.jpg">
		  <h4> Princesa de Penasco </h4>
      <img width="100%" src="https://raw.githubusercontent.com/Code4Bananas/Design-App/master/client/img/5.jpg">
		  <h4> Casa Blanca </h4>
      <img width="100%" src="https://raw.githubusercontent.com/Code4Bananas/Design-App/master/client/img/1.jpg">
		  <h4> Sonran Sea </h4>
      <img width="100%" src="https://raw.githubusercontent.com/Code4Bananas/Design-App/master/client/img/4.jpg">
		  <h4> Marina Pinacate </h4>		  
      <img width="100%" src="https://raw.githubusercontent.com/Code4Bananas/Design-App/master/client/img/11.jpg">
		  <h4> Las Gaviotas </h4>
      <img width="100%" src="https://raw.githubusercontent.com/Code4Bananas/Design-App/master/client/img/9.jpg">
		  <h4> Esmeralda </h4>
      <img width="100%" src="https://raw.githubusercontent.com/Code4Bananas/Design-App/master/client/img/2.jpg">
		  <h4> Palacio Del Mar </h4>
      <img width="100%" src="https://raw.githubusercontent.com/Code4Bananas/Design-App/master/client/img/7.jpg">
		  <h4> Cholla Bay </h4>		  

	  </div>

	 <br/>
    
    <div class="col col-bottom">
	<center>
      <a href="tel:4806862280" class="button button-other">
          Call now to Book!
      </a>									  
	</center>                                                               
  </div>
    <h4><center> or </center></h4>   
       <div class="col">
             <center>
                <a ng-href="#/form" class="button button-other">
                  Fill out Form!
               </a>
         </center>
    </div>
 
          </ion-content>
</ion-view>
