<ion-view title="One Bedroom">

  <ion-content ng-controller="OneCtrl">

<h3>One Bedroom Rentals</h3>

    <center><a href="#/1B3"> <img src="http://www.rentalsinrockypoint.com/images/buttons/Diamante-906-Button.jpg"> </a></center>

	  <center>

   	  <img src="http://www.rentalsinrockypoint.com/images/key.png" class="center" width="80%" alt="Diamante 906 Availability Calendar">

          </center>

      <center>

      	  <img class="article_two1_img" alt="Diamante 906 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a906-calendar-1.png" />

	  <img class="article_two1_img" alt="Diamante 906 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a906-calendar-2.png" />

	  <img class="article_two1_img" alt="Diamante 906 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a906-calendar-3.png" />

	  <img class="article_two1_img" alt="Diamante 906 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a906-calendar-4.png" />

	  </center>



</br>

    <center><a href="#/1B2"> <img src="http://www.rentalsinrockypoint.com/images/buttons/Cristal-302-Button.jpg"> </a></center>

	  <center>

   <img src="http://www.rentalsinrockypoint.com/images/key.png" class="center" width="80%" alt="Cristal 302 Availability Calendar"></center>

      <center>

      <img class="article_two1_img" alt="Cristal 302 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/e302-calendar-1.png" />

 <img class="article_two1_img" alt="Cristal 302 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/e302-calendar-2.png" />

  <img class="article_two1_img" alt="Cristal 302 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/e302-calendar-3.png" />

	   <img class="article_two1_img" alt="Cristal 302 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/e302-calendar-4.png" />

	  </center>



</br>

    <center><a href="#/1B1"> <img src="http://www.rentalsinrockypoint.com/images/buttons/Cristal-202-Button.jpg"> </a></center>

<center><img src="http://www.rentalsinrockypoint.com/images/key.png" width="80%" alt="Cristal 202 Availability Calendar"></center>

   <center>

      <img class="article_two1_img" alt="Cristal 202 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/e202-calendar-1.png" />

	<img class="article_two1_img" alt="Cristal 202 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/e202-calendar-2.png" />

	<img class="article_two1_img" alt="Cristal 202 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/e202-calendar-3.png" />

	<img class="article_two1_img" alt="Cristal 202 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/e202-calendar-4.png" /></center>

</br>



    <center><a href="#/1B4">  <img src="http://www.rentalsinrockypoint.com/images/buttons/Cabrillo-1402-Button.jpg">  </a></center>

<center> 

	<img src="http://www.rentalsinrockypoint.com/images/key.png" width="80%" class="center" alt="Cabrillo 1402 Availability Calendar">

        </center>

      <center>

        <img class="article_two1_img' alt="Cabrillo 1402 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/g1402-calendar-1.png" />

        <img class="article_two1_img' alt="Cabrillo 1402 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/g1402-calendar-2.png" />

        <img class="article_two1_img' alt="Cabrillo 1402 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/g1402-calendar-3.png" />

        <img class="article_two1_img' alt="Cabrillo 1402 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/g1402-calendar-4.png" />

      </center>

   <br/>

   
      <a ng-href="#/more" class="button button-other">
          Want to see more?
      </a>	
<br/>



  </ion-content>

</ion-view>



