<ion-view title="Sign Up">

    <ion-content has-header="true" padding="true">
        
        <form action="http://www2.rentalsinrockypoint.com/l/217652/2016-09-19/2c67" name="myForm" onsubmit="return validateForm();" method="POST" id="plantrip">
        
        <div class="list list-inset" style="margin-top: 10px;">

            <input type="hidden" name="oid" value="00D40000000Mq6R">
      <input type="hidden" name="retURL" value="https://rocky-point-app.herokuapp.com/#/thankyou">
      	<label class="item item-input" for="first_name" placeholder="First Name">
      <input maxlength="40" id="first_name" name="first_name" size="20" type="text"></label>
      	<label for="last_name" placeholder="Last Name">
      <input maxlength="80" id="last_name" name="last_name" size="20" type="text"></label>
      	<label for="phone">Phone</label>
      <input maxlength="40" id="phone" name="phone" size="20" type="text">
      	<label for="email">Email</label>
      <input maxlength="80" id="email" name="email" size="20" type="text">Condo Of Interest:
      	<input type="hidden" value="00N40000002MLbE" name="Opalo 808">

      	</select>Arrival Date:<span class="dateInput dateOnlyInput">
       <input id="popupDatepicker" name="00N40000002MNHk" size="12" type="text">
        </span> Departure Date:<span class="dateInput dateOnlyInput">
            <input id="Departure" name="00N40000002MNHp" size="12" type="text">
            </span>
            
            <center><input type="submit" value="submit" /></center>
            
            </form>
            

            <div style="text-align: center; margin: 25px 0;">or</div>

            		 <h3>For a quicker response,</h3>
		             <h6>call now: </h6>
                     <center><a style="color: #f62b2b" class="button button-call" href="tel:4806862280" title="Call">(480) 686-2280</a></center><br/>
          	         <h3> 9am-10pm </h3>

        </div>

    </ion-content>

</ion-view>
