<ion-view title="Sign Up">

    <ion-content has-header="true" padding="true">
        
        <form action="http://www2.rentalsinrockypoint.com/l/217652/2016-09-19/2c67" name="myForm" onsubmit="return validateForm();" method="POST" id="plantrip">
        
        <div class="list list-inset" style="margin-top: 10px;">

            <input type="hidden" name="oid" value="00D40000000Mq6R">
      <input type="hidden" name="retURL" value="https://rocky-point-app.herokuapp.com/#/thankyou">
      	<label class="item item-input" for="first_name">
      <input maxlength="40" id="first_name" name="first_name" size="20" type="text" placeholder="First Name">
		</label>
      	<label class="item item-input" for="last_name">
      <input maxlength="80" id="last_name" name="last_name" size="20" type="text" placeholder="Last Name">
		</label>
      	<label class=item item-input" for="phone">
      <input maxlength="40" id="phone" name="phone" size="20" type="text" placeholder="Phone">
		</label>
      	<label class="item item-input" for="email">
      <input maxlength="80" id="email" name="email" size="20" type="text" placeholder="Email">
		</label>
											     
	Condo Of Interest:
      	<input type="hidden" name="00N40000002MLbE" value="Diamante 508">
      		<!-- <option value="Not Sure">Select a Condo</option>
       		<option value="Diamante 508">Diamante 508 (3 Bed 3 Bath)</option>
       		<option value="Opalo 408">Opalo 408 (3 Bed 3 Bath)</option>
       		<option value="Opalo 808">Opalo 808 (3 Bed 3 Bath)</option>
       		<option value="Cristal 501">Cristal 501 (3 Bed 2 Bath)</option>
       		<option value="Cristal 407">Cristal 407 (3 Bed 2 Bath)</option>
       		<option value="Coronado 803">Coronado 803 (3 Bed 2 Bath)</option>
       		<option value="Diamante 1003">Diamante 1003 (2 Bed 2 Bath)</option>
       		<option value="Diamante 401">Diamante 401 (2 Bed 2 Bath)</option>
       		<option value="Diamante 801">Diamante 801 (2 Bed 2 Bath)</option>
       		<option value="Opalo 403">Opalo 403 (2 Bed 2 Bath)</option>
       		<option value="Rubi 206">Rubi 206 (2 Bed 2 Bath)</option>
       		<option value="Topaz 804">Topaz 804 (2 Bed 2 Bath)</option>
       		<option value="Cristal 202">Cristal 202 (1 Bed 1 Bath)</option>
       		<option value="Cristal 302">Cristal 302 (1 Bed 1 Bath)</option>
       		<option value="Diamante 906">Diamante 906 (1 Bed 1 Bath)</option>
       		<option value="Casa Vasquez">Casa Vasquez (3 Bed 3 Bath Las Conchas House)</option> -->

      	</select>Arrival Date:<span class="dateInput dateOnlyInput">
       <input id="popupDatepicker" name="00N40000002MNHk" size="12" type="text">
        </span> Departure Date:<span class="dateInput dateOnlyInput">
            <input id="Departure" name="00N40000002MNHp" size="12" type="text">
            </span>
            
            <center><input type="submit" value="submit" /></center>
            
            </form>
            

            <div style="text-align: center; margin: 25px 0;">or</div>

            		 <h3>For a quicker response,</h3>
		             <h6>call now: </h6>
                     <center><a style="color: #f62b2b" class="button button-call" href="tel:4806862280" title="Call">(480) 686-2280</a></center><br/>
          	         <h3> 9am-10pm </h3>

        </div>

    </ion-content>

</ion-view>
