<ion-view title="Thank You">
  <ion-content has-header="true" padding="true">

  <div class="list">
      <h1 class="heading">Thank You!</h1><br>
      <img class="article_two1_img" alt="image" src="images/e501/thumbs/small-laspalomas-rental-501.jpg"/>
      <h3 align="center"><strong>I want to be your Rocky Point Las Palomas condo provider!</strong></h3>
      <h3 align="center"> A live human will be in contact with you shortly (probably me, David). If you have any questions about your trip or to reserve your dates immediately, please pick up your cell phone and give me a call at: </h3>
       <a style="color: #f62b2b" class="button button-call" href="tel:4806862280" title="Call">(480) 686-2280</a><br/>
    </div>

  </ion-content>
</ion-view>
