<ion-view title="Three Bedroom">
  <ion-content> 
    <h3>Three Bedroom Rentals</h3>
    <center> <a ng-href="#/3B3"> <img src="http://www.rentalsinrockypoint.com/images/buttons/Cristal-501-Button.jpg"> </a> </center>
    <center> <a ng-href="#/3B2"> <img src="http://www.rentalsinrockypoint.com/images/buttons/Cristal-407-Button.jpg"> </a> </center>
    <center> <a ng-href="#/3B1"> <img src="http://www.rentalsinrockypoint.com/images/buttons/Coronado-803-Button.jpg"> </a> </center>
    <center> <a ng-href="#/3B4"> <img src="http://www.rentalsinrockypoint.com/images/buttons/Diamante-508-Button.jpg"> </a> </center>
    <center> <a ng-href="#/3B5"> <img src="http://www.rentalsinrockypoint.com/images/buttons/Opalo-808-Button.jpg"> </a> </center>
    <center> <a ng-href="#/3B6"> <img src="http://www.rentalsinrockypoint.com/images/buttons/Opalo-408-Button.jpg"> </a> </center>
    <center> <a ng-href="#/3B7">  <img src="http://www.rentalsinrockypoint.com/images/buttons/Opalo-201-Button.jpg">  </a> </center>
    <center> <a ng-href="#/3B8">  <img src="http://www.rentalsinrockypoint.com/images/buttons/Opalo-707-Button.jpg">  </a> </center>
  </ion-content>
</ion-view>
