<ion-view view-title="Three">
  <ion-content> 
    <h3>Three Bedroom Rentals</h3>
    <center> <a ng-href="#/3B3"> <img src="/img/3B3.jpg"> </a> </center>
    <center> <a ng-href="#/3B2"> <img src="/img/3B2.jpg"> </a> </center>
    <center> <a ng-href="#/3B1"> <img src="/img/3B1.jpg"> </a> </center>
    <center> <a ng-href="#/3B4"> <img src="/img/3B4.jpg"> </a> </center>
    <center> <a ng-href="#/3B5"> <img src="/img/3B6.jpg"> </a> </center>
    <center> <a ng-href="#/3B6"> <img src="/img/3B5.jpg"> </a> </center>
    <br/>
    <center> <a ng-href="#/3B7"> <h4> Opalo 201 </h4> </a> </center>
    <center> <a ng-href="#/3B8"> <h4> Opalo 707 </h4> </a> </center>
  </ion-content>
</ion-view>
