<ion-view title="Three Bedrooms">
  <ion-content> 
    <h1>Three Bedrooms</h1>
    <center> <a href="#/3B1"> <img src="/img/3B1.jpg"> </a> </center>
    <center> <a href="#/3B2"> <img src="/img/3B2.jpg"> </a> </center>
    <center> <a href="#/3B3"> <img src="/img/3B3.jpg"> </a> </center>
    <center> <a href="#/3B4"> <img src="/img/3B4.jpg"> </a> </center>
    <center> <a href="#/3B5"> <img src="/img/3B5.jpg"> </a> </center>
    <center> <a href="#/3B6"> <img src="/img/3B6.jpg"> </a> </center>
  </ion-content>
</ion-view>
