<ion-view title="Two Bedrooms">
  <ion-content class="has-heading padding">
    <h3>Two Bedroom Rentals</h3>
      <center><a href="#/2B1"> <img src="http://www.rentalsinrockypoint.com/images/buttons/Diamante-1003-Button.jpg"> </a> </center>
      <center><a href="#/2B2"> <img src="http://www.rentalsinrockypoint.com/images/buttons/Diamante-401-Button.jpg"> </a> </center>
      <center><a href="#/2B3"> <img src="http://www.rentalsinrockypoint.com/images/buttons/Diamante-801-Button.jpg"> </a> </center>
      <center><a href="#/2B4"> <img src="http://www.rentalsinrockypoint.com/images/buttons/Opalo-403-Button.jpg"> </a> </center>
      <center><a href="#/2B5"> <img src="http://www.rentalsinrockypoint.com/images/buttons/Rubi-206-Button.jpg"> </a> </center>
      <center><a href="#/2B6"> <img src="http://www.rentalsinrockypoint.com/images/buttons/Topaz-804-Button.jpg"> </a> </center>
  </ion-content>
</ion-view>
