<ion-view title="Two Bedrooms">
  <ion-content class="has-heading padding">
    <h3>Two Bedroom Rentals</h3>
    <center><a href="#/2B1"> <img src="/img/2B1.jpg"> </a> </center>
      <center><a href="#/2B2"> <img src="/img/2B2.jpg"> </a> </center>
      <center><a href="#/2B3"> <img src="/img/2B3.jpg"> </a> </center>
      <center><a href="#/2B4"> <img src="/img/2B4.jpg"> </a> </center>
      <center><a href="#/2B5"> <img src="/img/2B5.jpg"> </a> </center>
      <center><a href="#/2B6"> <img src="/img/2B6.jpg"> </a> </center>
  </ion-content>
</ion-view>
