<ion-view title="Two Bedrooms">
  <ion-content class="has-heading padding">
    <h3>Two Bedroom Rentals</h3>
    <center><a href="#/2B1"> <img src="http://www.rentalsinrockypoint.com/images/buttons/Diamante-1003-Button.jpg"> </a> </center>
  <center>
   	   <img src="http://www.rentalsinrockypoint.com/images/key.png" class="center" width="80%" alt="Diamante 1003 Availability Calendar">
           </center>
      <center>
      	   <img class="article_two1_img" alt="Diamante 1003 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a1003-calendar-1.png" />
	   <img class="article_two1_img" alt="Diamante 1003 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a1003-calendar-2.png" />
	   <img class="article_two1_img" alt="Diamante 1003 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a1003-calendar-3.png" />
	   <img class="article_two1_img" alt="Diamante 1003 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a1003-calendar-4.png" />
	  </center>
  <br/>


      <center><a href="#/2B2"> <img src="http://www.rentalsinrockypoint.com/images/buttons/Diamante-401-Button.jpg"> </a> </center>
<center>
   	   <img src="http://www.rentalsinrockypoint.com/images/key.png" class="center" width="80%" alt="Diamante 401 Availability Calendar">
           </center>
      <center>
      	   <img class="article_two1_img" alt="Diamante 401 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a401-calendar-1.png" />
	   <img class="article_two1_img" alt="Diamante 401 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a401-calendar-2.png" />
	   <img class="article_two1_img" alt="Diamante 401 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a401-calendar-3.png" />
	   <img class="article_two1_img" alt="Diamante 401 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a401-calendar-4.png" />
	  </center>
	<br/>


      <center><a href="#/2B3"> <img src="http://www.rentalsinrockypoint.com/images/buttons/Diamante-801-Button.jpg"> </a> </center>
<center>
   	   <img src="http://www.rentalsinrockypoint.com/images/key.png" class="center" width="80%" alt="Diamante 801 Availability Calendar">
           </center>
      <center>
      	   <img class="article_two1_img" alt="Diamante 801 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a801-calendar-1.png" />
	   <img class="article_two1_img" alt="Diamante 801 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a801-calendar-2.png" />
	   <img class="article_two1_img" alt="Diamante 801 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a801-calendar-3.png" />
	   <img class="article_two1_img" alt="Diamante 801 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/a801-calendar-4.png" />
	  </center>
	<br/>


      <center><a href="#/2B4"> <img src="http://www.rentalsinrockypoint.com/images/buttons/Opalo-403-Button.jpg"> </a> </center>
<center>
   	   <img src="http://www.rentalsinrockypoint.com/images/key.png" class="center" width="80%" alt="Opalo 403 Availability Calendar">
           </center>
      <center>
      	   <img class="article_two1_img" alt="Opalo 403 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/d403-calendar-1.png" />
	   <img class="article_two1_img" alt="Opalo 403 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/d403-calendar-2.png" />
	   <img class="article_two1_img" alt="Opalo 403 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/d403-calendar-3.png" />
	   <img class="article_two1_img" alt="Opalo 403 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/d403-calendar-4.png" />
	  </center>
	<br/>


      <center><a href="#/2B5"> <img src="http://www.rentalsinrockypoint.com/images/buttons/Rubi-206-Button.jpg"> </a> </center>
<center>
   	   <img src="http://www.rentalsinrockypoint.com/images/key.png" class="center" width="80%" alt="Rubi 206 Availability Calendar">
           </center>
      <center>
      	   <img class="article_two1_img" alt="Rubi 206 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/c206-calendar-1.png" />
	   <img class="article_two1_img" alt="Rubi 206 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/c206-calendar-2.png" />
	   <img class="article_two1_img" alt="Rubi 206 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/c206-calendar-3.png" />
	   <img class="article_two1_img" alt="Rubi 206 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/c206-calendar-4.png" />
	  </center>
	<br/>
    


      <center><a href="#/2B6"> <img src="http://www.rentalsinrockypoint.com/images/buttons/Topaz-804-Button.jpg"> </a> </center>
	  <center>
   	   <img src="http://www.rentalsinrockypoint.com/images/key.png" class="center" width="80%" alt="Topaz 804 Availability Calendar">
           </center>
      <center>
      	   <img class="article_two1_img" alt="Topaz 804 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/b804-calendar-1.png" />
      	   <img class="article_two1_img" alt="Topaz 804 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/b804-calendar-2.png" />
	   <img class="article_two1_img" alt="Topaz 804 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/b804-calendar-3.png" />
	   <img class="article_two1_img" alt="Topaz 804 availability" src="http://www.rentalsinrockypoint.com/rentals-in-rocky-point-calendars/b804-calendar-4.png" />
	  </center>
  	<br/>
    

    <br/>
  </ion-content>
</ion-view>

